## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
book_df = pd.read_csv("C:/Users/jerem/OneDrive/Desktop/BookCampWorking/Project_4/Resources/panda_df/books_cleaned.csv")
book_df.head()

,average_rating,format,num_pages,publication_year,ratings_count,text_reviews_count,to_read_count,series_binary,author_average_rating
0,4.50,Paperback,140,1976,1,1,7.0,0,3.770
1,2.86,Paperback,273,2009,7,2,5.0,0,3.370
2,4.50,Hardcover,385,2008,2,1,7.0,0,4.065
3,3.62,Hardcover,220,2007,97,19,154.0,0,3.620
4,4.07,Paperback,288,2006,21,2,1648.0,1,3.970

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
book_df = book_df.drop(columns=["series_binary"])

In [4]:
book_df.head()

,average_rating,format,num_pages,publication_year,ratings_count,text_reviews_count,to_read_count,author_average_rating
0,4.50,Paperback,140,1976,1,1,7.0,3.770
1,2.86,Paperback,273,2009,7,2,5.0,3.370
2,4.50,Hardcover,385,2008,2,1,7.0,4.065
3,3.62,Hardcover,220,2007,97,19,154.0,3.620
4,4.07,Paperback,288,2006,21,2,1648.0,3.970

In [5]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
book_df.nunique()

average_rating             366
format                       4
num_pages                 2166
publication_year           354
ratings_count            15672
text_reviews_count        3854
to_read_count            19202
author_average_rating     9429
dtype: int64

In [6]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
book_df = pd.get_dummies(book_df)

In [7]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
features = book_df.drop(columns=["average_rating"])
target = book_df["average_rating"]
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer

layer1 = tf.keras.layers.Dense(units=200, activation="relu", input_dim=10)

# Second hidden layer

layer2 = tf.keras.layers.Dense(units=100, activation="relu")

# Third hidden layer

layer3 = tf.keras.layers.Dense(units=50, activation="relu")

# Fourth hidden layer

layer4 = tf.keras.layers.Dense(units=25, activation="relu")

# Fifth hidden layer



# Output layer
#  YOUR CODE GOES HERE
output_layer = tf.keras.layers.Dense(units=1, activation="sigmoid")

nn.add(layer1)
nn.add(layer2)
nn.add(layer3)
nn.add(layer4)
nn.add(output_layer)


# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE
nn_fit = nn.fit(X_train_scaled, y_train, epochs=10)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

nn.save("AlphabetSoupCharity.h5")